.login-wrapper {
  align-items: center;
  display: grid;
  grid-template-columns: 60% 40%;
  background: rgb(7,0,121);
  background: linear-gradient(0deg, rgba(7,0,121,1) 16%, rgba(5,117,230,1) 100%, rgba(5,117,230,1) 100%);
}