<div class="square first_square">
  <div class="text">
    <h1>Ludycom</h1>
    <p>
      Somos una compañía de tecnología que proveemos transformación digital en
      diversos sectores de las organizaciones globales
    </p>
    <a href="https://ludycom.com/">Leer mas</a>
    <div class="circle circle_one"></div>
    <div class="circle circle_two"></div>
  </div>
</div>
<div class="square second_square">
  <p>Hola de nuevo!</p>
  <span>Bienvenido de vuelta</span>

  <label for=""> <input type="email" /> Dirección Email </label>
  <label for=""> <input type="password" /> Password </label>
  <button>Login</button>
  <form></form>
</div>
