<app-header />
<div class="squares">
    <div class="users" routerLink="/users">
        <span class="material-symbols-outlined">
            face
            </span>
    </div>

    <div class="areas" routerLink="/areas">
        <span class="material-symbols-outlined">
            location_on
            </span>
    </div>
</div>
<div class="info_wrapper">
    <div class="info">
        <h2>Users</h2>
        <div>
            <p>Active: <span>{{usersCount.active || 0}}</span></p>
            <p>Inactive: <span>{{usersCount.inActive || 0}}</span></p>
        </div>
    </div>
    <div class="info">
        <h2>Areas</h2>
        <div>
            <p>Active: <span>{{areasCount.active || 0}}</span></p>
            <p>Inactive: <span>{{areasCount.inActive || 0}}</span></p>
        </div>
    </div>
</div>